* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.hello{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(233, 233, 233);
}
.rame{
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}
    .rame form h1{
        font-family: 'Poppins', sans-serif;
        margin-right: 20px;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: 0px;
    }
    .rame form input{
        margin-top: 10px;
        height: 40px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 0px;
        background-color: rgb(218, 218, 218);
    }
    .rame form button{
        margin-top: 20px;
        margin-bottom: 20px;
        height: 40px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        border: 0px;
        background-color: darkorange;
        color: rgb(250, 250, 250);
    }

    .rame form button:hover {
        background-color: orangered;
        transition: .4s;
    }


    .rame form p{
        font-family: 'Poppins', sans-serif;

        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: 0px;
    }

.animation {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    animation-name: none;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.centered{
    width:400px;
    height:400px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:#ffffff;
    filter: blur(10px) contrast(20);
  }
  .blob-1,.blob-2{
    width:70px;
    height:70px;
    position:absolute;
    background: orange;
    border-radius:50%;
    top:50%;left:50%;
    transform:translate(-50%,-50%);
  }
  .blob-1{
    left:20%;
    animation:osc-l 2.5s ease infinite;
  }
  .blob-2{
    left:80%;
    animation:osc-r 2.5s ease infinite;
    background:orangered;
  }
  @keyframes osc-l{
    0%{left:20%;}
    50%{left:50%;}
    100%{left:20%;}
  }
  @keyframes osc-r{
    0%{left:80%;}
    50%{left:50%;}
    100%{left:80%;}
  }
  
  @keyframes slide {
    to {
        opacity: 0;
    }
  }